Repository cerc-io/laconicd, pull requests merged in 2023-01, with the labels that each got.

#71 sdk integration test
  tests/sdk_tests/Dockerfile-sdk
  tests/sdk_tests/build-laconicd-container.sh
  tests/sdk_tests/build-sdk-test-container.sh
  tests/sdk_tests/docker-compose.yml
  tests/sdk_tests/entrypoint.sh
  tests/sdk_tests/run-tests.sh
Labels: Type: Tests

#70 wrap typed data for record attributes
  docs/api/proto-docs.md
  ethereum/eip712/eip712.go
  go.mod
  go.sum
  proto/vulcanize/auction/v1beta1/tx.proto
  proto/vulcanize/bond/v1beta1/tx.proto
  proto/vulcanize/registry/v1beta1/attributes.proto
  proto/vulcanize/registry/v1beta1/tx.proto
  x/auction/types/tx.pb.go
  x/bond/types/tx.pb.go
  x/registry/client/testutil/service_provider_example.yml
  x/registry/client/testutil/website_registration_example.yml
  x/registry/helpers/examples/service_provider_example.yml
  x/registry/helpers/examples/website_registration_example.yml
  x/registry/keeper/keeper.go
  x/registry/types/attributes.pb.go
  x/registry/types/record_msg.go
  x/registry/types/tx.pb.go
Labels: C:CLI, C:Proto, Type: Docs

#73 change chain id from ethermint to laconic
  app/utils.go
  init.bat
  init.sh
  scripts/laconicd-devnet.yaml
  scripts/start.sh
  starport.yml
  x/auction/README.md
  x/bond/README.md
  x/registry/README.md
Labels: Type: Build

#76 sdk-integration: fix private key command
  tests/sdk_tests/run-tests.sh
Labels: Type: Tests

#88 All test stuff
  .github/workflows/docker-image.yml
  .github/workflows/test.yml
  .gitignore
  Dockerfile
  tests/sdk_tests/Dockerfile-sdk
  tests/sdk_tests/docker-compose.yml
  tests/sdk_tests/run-tests.sh
  utils/json.go
  utils/json_test.go
Labels: Type: CI, Type: Build, Type: Tests
